[Unit]
Description=nginx.service
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/nginx/sbin/nginx
ExecReload=/usr/local/nginx/sbin/nginx -s reload
ExecStop=/usr/local/nginx/sbin/nginx -s stop
ExecStatus=/usr/local/nginx/sbin/nginx -s status
PrivateTmp=true

[Install]
WantedBy=multi-user.target